<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .row1 {
            color: red
        }
        .row2 {
            color: aqua
        }
    </style>
</head>
<body>
    <nav>
        豆瓣 读书 电影 音乐 同城 小组 阅读 FM 时间 豆品
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        © 2005－2025 douban.com, all rights reserved 北京豆网科技有限公司关于豆瓣 · 在豆瓣工作 · 联系我们 · 法律声明 · 帮助中心 · 图书馆合作 · 移动应用
    </footer>

</body>
</html>